<%= form_for @post, :html => { :method => :post } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p> 

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>